<div style="text-align:center">
  <h1>MUDy Flask</h1>
</div>
<!-- <p>{{ timer$ | async }} timer invocations</p> -->

<div>
  <label>Enter command:
    <input #command />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(command.value); command.value=''">
    submit
  </button>
</div>

<h2><u>Things that have happened</u></h2>
<ul>
  <li *ngFor="let response of responseList">
    {{response.response}}
  </li>
</ul>
